<div class="jumbotron d-flex align-items-center text-light" style="background-color:var(--orange)">
  <div class="container text-center">
    <h2>Edit profile</h2>
  </div>
</div>
<div class="container vertical-center">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
        <%= f.input :email,
                    label: false,
                    placeholder: "Email",
                    required: true,
                    autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                      hint: "Leave it blank if you want to keep the same password",
                      label: false,
                      placeholder: "Password",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: false,
                      placeholder: "Password confimration",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      label: false,
                      placeholder: "Current password",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
    <div>
      <%= f.button :submit, "Update", class: "button-orange" %>
          <% end %>
    </div>
    <div class="row">
      <div class="col-5">
        <%= link_to "Log out", destroy_user_session_path, class: "button-transparent", method: :delete %>
      </div>
      <div class="col-7">
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "button-transparent", method: :delete %>
      </div>
    </div>
  </div>
</div>
