<h3 class="text-muted m-0">Pending requests<%= " (#{pending_bookings.count})" %></h3>
<div id="pending-bookings">
  <% pending_bookings.each do |booking|%>
    <div class="card-general">
      <div class="card-body">
        <h4 class="card-title"><%= booking.client.first_name.capitalize %> <%= booking.client.last_name.capitalize %></h4>
      </div>
      <div class="d-flex">
        <%= simple_form_for booking, id: 'book', method: :patch, remote: true do |f| %>
          <%= f.hidden_field :status, value: "Accepted" %>
          <%= f.submit "Accept", class: 'btn btn-success'%>
        <% end %>
        <%= simple_form_for booking, id: 'book', method: :patch, remote: true do |f| %>
          <%= f.hidden_field :status, value: "Rejected" %>
          <%= f.submit "Add to waitlist", class: 'btn btn-warning'%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<h3 class="text-muted m-0">Waitlist<%= " (#{rejected_bookings.count})"%></h3>
<div id="rejected-bookings">
  <% rejected_bookings.each do |booking|%>
    <div class="card-general">
      <div class="card-body">
        <h4 class="card-title"><%= booking.client.first_name.capitalize %> <%= booking.client.last_name.capitalize %></h4>
      </div>
      <div class="d-flex">
        <%= simple_form_for booking, id: 'book', method: :patch, remote: true do |f| %>
          <%= f.hidden_field :status, value: "Accepted" %>
          <%= f.submit "Accept", class: 'btn btn-success'%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
