<% available_trainers.each do |trainer| %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <% if trainer.avatar.key %>
          <%= cl_image_tag trainer.avatar.key, crop: :fill, class: "card-img-top" %>
        <% else %>
          <img class="card-img-top" src="<%= asset_path('trainer.jpg')%>" alt="Image of user goes here">
        <% end %>
        <div class="row card-text-block w-100 p-2">
          <h3 class='text-white lead trainer-name'><%= trainer.first_name.capitalize %></h3>
          <div class="d-flex align-items-center justify-content-between" id="trainer-<%= trainer.id %>">
            <i class="fa-solid fa-info info" data-toggle="modal" data-target="#exampleModal<%= trainer.id %>"></i>
            <% if trainer.bookings.any? { |b| b.client_id == user.id } %>
              <% case trainer.bookings.select { |b| b.client_id == user.id }.first.status %>
                <% when 'Pending' %>
                  <div class='m-0 p-1 text-black-50'>
                    <%= simple_form_for trainer.bookings.select { |b| b.client_id == user.id}, id: 'cancel', remote: true, method: :delete do |f| %>
                      <%= f.submit "Cancel", class: 'button-red' %>
                    <% end %>
                  </div>
                <% when 'Accepted' %>
                  <%= link_to "See assigned workouts",
                  booking_shared_training_plans_path(trainer.bookings.select { |b| b.client_id == user.id }.first), class: 'button-orange-b' %>
                <% when 'Rejected' %>
                  <div class='m-0 p-1'>
                    <i class="fas fa-exclamation-triangle text-warning"></i>
                    <span class="text-muted"><%= trainer.first_name.capitalize %> is full already</span>
                    <p class="text-black-50">You are added to <%= trainer.first_name.capitalize %>'s' waitlist</p>
                    <%= link_to "Cancel", trainer.bookings.select { |b| b.client_id == user.id }.first, id: 'cancel', remote: true, method: :delete %>
                  </div>
              <% end %>
              <% else %>
                <%= simple_form_for @booking, remote: true do |f| %>
                  <%= f.hidden_field :status, value: "Pending" %>
                  <%= f.hidden_field :user_id, value: trainer.id %>
                  <%= f.hidden_field :client_id, value: user.id %>
                  <%= f.submit "Book #{trainer.first_name.capitalize}", class: 'button-action'%>
              <% end %>
            <% end %>
            <div class="modal fade" id="exampleModal<%= trainer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content mild-opacity round-one">
                  <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel"><%= "#{trainer.first_name.capitalize} #{trainer.last_name.capitalize}" %></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5><%= trainer.about %></h5>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="button-transparent" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
