<div class="jumbotron d-flex align-items-center bg-gradient text-light mb-0">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>My exercises library</h2>
  </div>
</div>

<div class="container">
  <%= form_tag all_exercises_bookings_path, method: :get, class: 'mt-3' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control round-one mb-4",
      placeholder: "Find by title, description"
    %>
<% end %>

  <% unless @shared_training_plans.empty? %>
    <% @shared_training_plans.map(&:shared_exercise).each_with_index do |exercise, i| %>
      <div class="card-general">
        <div class="card-body">
          <p>
            <%= link_to exercise.user.first_name.capitalize, booking_shared_training_plans_path(@shared_training_plans[i].booking),
                                        class: 'card-txt-secondary text-muted' %>
          </p>
          <h3 class="card-title">
            <%= link_to exercise.title, booking_shared_training_plan_shared_exercise_path(@shared_training_plans[i].booking, @shared_training_plans[i], exercise )%>
          </h3>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless @exercises.empty? %>
    <% @exercises.each_with_index do |exercise, i| %>
      <div class="card-general">
        <div class="card-body">
          <p class='card-txt-secondary text-muted'>
            Personal
          </p>
          <h3 class="card-title">
            <%= link_to exercise.title, exercise_path(exercise)%>
          </h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
