<div class="jumbotron d-flex align-items-center bg-gradient text-light">
  <h2>
    <%= link_to root_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>My clients</h2>
  </div>
</div>

<div class="container">
  <% unless @bookings.empty? %>

    <div id="booking-requests">
      <%= render 'booking', pending_bookings: @pending_bookings, rejected_bookings: @rejected_bookings %>
    </div>
    <div class="relative-wrapper">
      <h2 class="text-muted m-0 pb-2">
        Clients <span class="superscript"><%= " (#{@accepted_bookings.count})" %></span>
      </h2>
    </div>
    <div class="grid">
      <% @accepted_bookings.each do |booking| %>
        <div class="card-square d-flex flex-column align-items-center">
          <%= link_to booking_shared_training_plans_path(booking) do %>
            <% if booking.client.avatar.key %>
              <%= cl_image_tag booking.client.avatar.key, crop: :fill, class: "avatar-xl mb-2" %>
            <% end %>
            <h3 class='text-center'><%= booking.client.first_name.capitalize %></h3>
          <% end %>
        </div>
      <% end %>
    </div>

  <% else %>
  <div class="container text-center">
    <p class="text-muted">You don't seem to have any clients yet.</p>
  </div>
  <% end %>
</div>
