<div class="form mt-2">
  <%= simple_form_for @training do |f| %>
      <%= f.input :title,
                  required: true,
                  label: false,
                  placeholder: "Title"%>
      <%= f.input :description,
                  label: false,
                  required: false,
                  placeholder: "Description"  %>
      <%= f.input :activity,
                  label: false,
                  required: true,
                  placeholder: "Activity"%>
      <%= f.input :exercises,
                  collection: current_user.exercises,
                  required: true,
                  label: false,
                  prompt: "Select exercise",
                  include_hidden: false %>
      <%= f.submit 'Create training', class: 'button-orange' %>
  <% end %>
</div>
