<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to training_plans_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2> <%= @training_plan.training.title %></h2>
  </div>
</div>
<div class="container h-100">
  <p class="keyword"><%= @training_plan.training.activity %></p>
  <p><%= @training_plan.training.description %></p>
  <% @training_plan_exercises.each_with_index do |exercise| %>
    <div class="card-general">
      <h2><%= exercise.title %></h2>
      <p><%= exercise.description %></p>
      <p><%= exercise.repetitions %> reps / <%= @training_plan.exercise.sets %> sets</p>
    </div>
  <% end %>
</div>
