<div class="jumbotron d-flex align-items-center bg-gradient text-light mb-0">
  <h2>
    <%= link_to training_plans_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2> <%= @training_plan.training.title %></h2>
  </div>
</div>
<div class='position-relative'>
  <% if @training_plan.training.photo.key %>
    <%= cl_image_tag @training_plan.training.photo.key, crop: :fill, class: "card-img-top rounded-0" %>
  <% end %>
</div >
<div class="container h-100">
  <div class="card-long">
    <div class="card-body">
      <div class="ordered-list">
        <ol class="mb-1">
          <% @training_plan_exercises.each_with_index do |exercise| %>
            <li>
              <h3 class="mb-0">
                <span><%= link_to exercise.title, exercise_path(exercise) %></span>
                </h3>
              <div class="exercise-info text-muted m-0 pb-1 mb-1">
                <p><%= exercise.repetitions %> reps / <%= @training_plan.exercise.sets %> sets</p>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
