
<div class="container">
  <% if current_user %>
  <h3 class="mt-4"><%= current_user.first_name.capitalize %></h3>
  <p class="text-muted m-0">Profile</p>
  <div class="row justify-content-center">
    <p class="text-muted m-0">My overview</p>
  </div>
    <% Booking.where(client: current_user).each do |b| %>
  <div class="row justify-content-center">
    <div class="card col-sm-4 justify-content-center" style="width: 18rem;">
      <%= image_tag("personal_trainer.png") %>
    <div class="card-body">
        <%= link_to "My Trainers",  trainers_bookings_path(b) %>
    </div>
  </div>
  <div class="card col-sm-4 justify-content-center" style="width: 18rem;">
    <%= image_tag("yoga.png") %>
    <div class="card-body">
      <%= link_to "Pick an Expert", bookings_path %>
    </div>
  </div>
  <div class="card col-sm-4 justify-content-center" style="width: 18rem;">
    <%= image_tag("training_stats.png") %>
    <div class="card-body">
      <%= link_to "My Trainings", training_plans_path %>
    </div>
   </div>
  </div>
      <% end %>
  </div>
</div>
  <% current_user.bookings.each do |b| %>
  <div class="row justify-content-center">
    <div class="card col-sm-4 justify-content-center" style="width: 18rem;">
      <%= image_tag("mindfullness.png") %>
    <div class="card-body">
       <%= link_to "My Clients",  clients_bookings_path(b) %>
    </div>
  </div>
  <div class="card col-sm-4 justify-content-center" style="width: 18rem;">
    <%= image_tag("finish_line.png") %>
    <div class="card-body">
      <%= link_to "Create training", new_training_path %>
    </div>
  </div>
  <div class="card col-sm-4 justify-content-center" style="width: 18rem;">
    <%= image_tag("exercise.png") %>
    <div class="card-body">
      <%= link_to "Create exercise", new_exercise_path %>
    </div>
   </div>
  </div>
      <% end %>
  </div>
</div>
  <% else %>
    <div class="container-fluid">
      <div class="card text-center">
        <div class="card-header">
          SHARP
        </div>
        <%= image_tag("exercise.png") %>
        <div class="row">
        <div class="card col-sm-6 justify-content-center">
        <%= link_to "Log in", user_session_path, class: 'btn btn-primary m-5' %>
        </div>
        <div class="card col-sm-6 justify-content-center">
        <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary m-5' %>
        </div>
        </div>
      </div>
        <div class="card-footer text-muted">
            <%= "Keep track on your progress and start training" %>
        </div>
      </div>
        <% end %>
    </div>
</div>
