
<main>
  <section>
  <div class="container">
  <% if current_user %>
    <h3 class="mt-4"><%= current_user.first_name.capitalize %></h3>
    <p class="text-muted m-0">Profile</p>
    <div class="row">
      <div class="col">
        <div class="content-area">
          <main class="site-main" role="main">
            <div>
              <div class="row">
                <div class="col-x">
                  <div>
                    <p class="text-muted m-0">Client overview</p>
                  </div>
                    <% Booking.where(client: current_user).each do |b| %>
                  <div>
                    <%= link_to "My Trainers",  trainers_bookings_path(b) %>
                  </div>
                  <div>
                    <%= link_to "Pick an Expert", bookings_path %>
                  </div>
                  <div>
                    <%= link_to "My Trainings", training_plans_path %>
                  </div>
                    <% end %>
                    <div>
                    <p class="text-muted m-0">Expert overview</p>
                    </div>
                    <% current_user.bookings.each do |b| %>
                    <div>
                    <%= link_to "My Clients",  clients_bookings_path(b) %>
                    </div>
                    <div>
                    <%= link_to "Create training", new_training_path %>
                    </div>
                    <div>
                    <%= link_to "Create exercise", new_exercise_path %>
                    </div>
                    <% end %>
                  <% else %>
                    <h3>Not signed in...</h3>
                  <% end %>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
  </section>
</main>
