<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user %>
  <h3>Signed in as: <%= current_user.first_name.capitalize %> </h3>

  <h2>Temporary links for accessibility</h2>
  <h3 class="mt-4">Client's dashboard</h3>
  <p class="text-muted m-0">Trainers</p>
  <% Booking.where(client: current_user).each do |b| %>
    <%= link_to "Trainer #{b.user.first_name.capitalize}'s training plans",  booking_shared_training_plans_path(b) %>
  <% end %>

  <h3 class="mt-4">Trainer's dashboard</h3>
  <p class="text-muted m-0">Clients</p>
  <% current_user.bookings.each do |b| %>
    <%= link_to "Client #{b.client.first_name.capitalize}'s training plans",  booking_shared_training_plans_path(b) %>
  <% end %>
  <%= link_to "Create training", new_training_path %>
  <%= link_to "Create exercise", new_exercise_path %>

<% else %>
  <h3>Not signed in...</h3>
<% end %>
