<div class="jumbotron d-flex align-items-center bg-orange text-light">
  <h2>
    <%= link_to booking_shared_training_plan_shared_exercise_path(@booking, @shared_training_plan, @shared_exercise) do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>Your progress</h2>
  </div>
</div>
</div>

<% if false %>
  <% @history_log.each do |history_log| %>
      <%= cl_image_tag history_log.photo.key, height: 300, width: 400, crop: :fill %>
      <p><%= history_log.notes %></p>
      <%#= link_to 'Show', training_plan %>
      <%#= link_to 'Edit', edit_training_plan_path(training_plan) %>
      <%#= link_to 'Delete', training_plan, method: :delete, remote: true %>
  <% end %>
<% end %>

<div class="container">
  <div class="swiper mySwiper mb-5">
    <div class="swiper-wrapper">
    <% @history_log.each do |history_log| %>
      <div class="swiper-slide">
        <%= cl_image_tag history_log.photo.key, height: 300, width: 400, crop: :fill, class: "swiper-slide" %>
        <p><%= history_log.notes %></p>
      </div>
      <% end %>
    </div>
  <div class="swiper-button-next swiper-nav text-lighter-gray"></div>
  <div class="swiper-button-prev swiper-nav text-lighter-gray"></div>
  </div>
</div>
