<div class="jumbotron d-flex align-items-center bg-dark text-light">
  <h2>
    <%= link_to booking_shared_training_plan_shared_exercise_path(@booking, @shared_training_plan, @shared_exercise) do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <h2>Add some details</h2>
</div>

<%= simple_form_for [@booking, @shared_training_plan, @shared_exercise, @history_log] do |f| %>
  <%= f.input :notes, label: "Notes" %>
  <%= f.input :photo, as: :file, label: "Video" %>
  <%= f.submit 'Upload' %>
<% end %>
