<div class="jumbotron d-flex align-items-center bg-gradient text-light">
  <h2>
    <%= link_to booking_shared_training_plan_shared_exercise_path(@booking, @shared_training_plan, @shared_exercise) do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2>Add content</h2>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@booking, @shared_training_plan, @shared_exercise, @history_log] do |f| %>
    <%= f.input :notes,
                label: false,
                placeholder: "Notes for yourself"%>
    <%= f.input :photo, as: :file,
                label: false %>
    <%= f.submit 'Upload', class: "button-orange" %>
  <% end %>
</div>
