<div class="jumbotron d-flex align-items-center text-light" style="background-color:var(--orange)">
  <h2>Log in</h2>
</div>
<div class="container">
<div class="form-floating">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <div class="button-orange">
    <%= f.button :submit, "Log in" %>
  </div>
    <%= link_to "Back", :back, class: "form-link" %>
  <% end %>
</div>
</div>
</div>
