<div class="jumbotron d-flex align-items-center text-light" style="background-color:var(--orange)">
  <h2>Log in</h2>
</div>
<div class="container">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                required: false,
                label: false,
                placeholder: "Email",
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: false,
                placeholder: "Password",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <div class="row">
    <div class="col-6">
      <%= f.button :submit, "Log in", class: "button-orange" %>
    </div>
    <div class="col-6">
      <%= link_to "Back", :back, class: "button-transparent" %>
    </div>
    <% end %>
  </div>
</div>
