<div class="form mt-2">
  <%= simple_form_for [@booking, @shared_training_plan, @shared_exercise] do |f| %>
    <%= f.input :description %>
    <%= f.input :technique %>
    <%= f.input :sets %>
    <%= f.input :repetitions %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "button-orange" %>
  <% end %>
</div>
