<% if @shared_exercise.photo.key%>
<%= cl_image_tag @shared_exercise.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2><%= @shared_exercise.title %></h2>
<p><%= @shared_exercise.description %></p>
<p><%= @shared_exercise.technique %></p>
<p><%= @shared_exercise.sets %></p>
<p><%= @shared_exercise.repetitions %></p>



<%= link_to 'Upload', new_booking_shared_exercise_history_log_path(@booking, @shared_exercise) %>
<%= link_to 'My Progress', booking_shared_exercise_history_logs_path(@booking, @shared_exercise) %>

<h1>Chat</h1>
<div id="messages" data-shared-exercise-id="<%= @shared_exercise.id %>">
  <% @shared_exercise.messages.each do |message| %>
    <%= render '/messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [@booking, @shared_exercise, @message] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
