<div class="jumbotron d-flex align-items-center bg-orange text-light mb-0">
  <h2>
    <%= link_to booking_shared_training_plan_path(@booking, @shared_training_plan) do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2><%= @shared_exercise.title %></h2>
  </div>
</div>


  <% if @shared_exercise.photo.key%>
    <%= cl_image_tag @shared_exercise.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="<%= asset_path('question-mark.jpg')%>" class="placeholder-image" alt="fit-man">
  <% end %>

<%if false%>
  <div class="card-general">
    <div class="card-body">
      <h3>Notes from trainer</h3>
      <p><%= @shared_exercise.description %></p>
      <p><%= @shared_exercise.technique %></p>
      <div class="row">
        <div class="col-6 d-inline">
          <h3>Sets</h3>
          <p><%= @shared_exercise.sets %></p>
        </div>
        <div class="col-6">
          <h3>Reps</h3>
          <p><%= @shared_exercise.repetitions %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <div class="container">
      <div class="d-flex justify-content-between">
        <span><%= link_to 'Upload training', new_booking_shared_training_plan_shared_exercise_history_log_path(@booking, @shared_training_plan, @shared_exercise), class: "button-orange" %></span>
        <span><%= link_to 'See progress', booking_shared_training_plan_shared_exercise_history_logs_path(@booking, @shared_training_plan, @shared_exercise), class: "button-orange" %></span>
      </div>
    <%= simple_form_for [@booking, @shared_training_plan, @shared_exercise, @message], remote: true do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Message" %>
      <%= f.submit "Send", class: "button-transparent" %>
    <% end %>
    </div>
    <div class="container">
      <div id="messages" data-shared-exercise-id="<%= @shared_exercise.id %>">
        <% @messages.each do |message| %>
          <%= render '/messages/message', message: message %>
        <% end %>
      </div>
    </div>
  </div>
</div>
