<div class="jumbotron d-flex align-items-center bg-gradient text-light">
  <% if @booking.user == current_user %>
    <h2>
      <%= link_to clients_bookings_path do %>
        <i class="fas fa-angle-left pr-3 text-light"></i>
      <% end %>
    </h2>
    <div class="container text-center">
      <h2><%= @booking.user == current_user ? "#{@booking.client.first_name.capitalize}'s" : "Assigned" %> trainings</h2>
    </div>
  <% else %>
    <%= link_to trainers_bookings_path do %>
      <i class="fas fa-angle-left pr-3 text-light"></i>
    <% end %>
    <div class="container text-center">
      <h2><%= @booking.user == current_user ? "#{@booking.client.first_name.capitalize}'s" : "Assigned" %> trainings</h2>
    </div>
  <% end %>
</div>

<div class="container">
  <% if @booking.user == current_user || @booking.client == current_user %>
      <% @trainings.uniq.each_with_index do |training, i| %>
        <div class="card-general">
          <div class="card-body">
            <h3 class="card-title"><%= link_to training.title, booking_shared_training_plan_path(@booking, SharedTrainingPlan.find_by(training: training, booking: @booking)) %></h3>
            <p class="card-subtitle text-muted">Trainer: <%= @booking.user.first_name.capitalize %></p>
          </div>
        </div>
      <% end %>
    <%= render 'form' %>
  <% else %>
    <h2>Sorry, seems like you don't belong here :)</h2>
  <% end %>
</div>
