<div class="jumbotron d-flex align-items-center text-light" style="background-color:var(--orange)">
  <h2>
    <% if @booking.user == current_user %>
      <%= link_to clients_bookings_path do %>
        <i class="fas fa-angle-left pr-3 text-light"></i>
      <% end %>
    <% else %>
      <%= link_to trainers_bookings_path do %>
        <i class="fas fa-angle-left pr-3 text-light"></i>
      <% end %>
    <% end %>
  </h2>
  <div class="container text-center">
    <h2 class="font-weight-bold"><%= @booking.user == current_user ? "#{@booking.client.first_name.capitalize}'s" : "My" %> trainings</h2>
  </div>
</div>

<div class="container">
  <% if @booking.user == current_user || @booking.client == current_user %>
      <% @trainings.uniq.each_with_index do |training, i| %>
        <div class="card-general">
          <div class="card-body">
            <h5 class="card-title"><%= link_to training.title, booking_shared_training_plan_path(@booking, @shared_training_plans[i]) %></h5>
            <h6 class="card-subtitle mb-3 text-muted">Trainer: <%= @booking.user.first_name.capitalize %></h6>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'form' %>
    <% if @booking.user == current_user %>
      <%= link_to "My clients", clients_bookings_path, class: "button-orange" %>
    <% else %>
      <p>Seems like you don't have a trainer yet</p>
      <%= link_to "Find an expert", bookings_path, class: "button-orange" %>
    <% end %>
  <% else %>
    <h2>Sorry, seems like you don't belong here :)</h2>
  <% end %>
</div>
