  <% if @booking.user == current_user || @booking.client == current_user %>
    <div class="jumbotron d-flex align-items-center bg-dark text-light">
      <h2>
        <%= link_to booking_shared_training_plans_path(@booking) do %>
          <i class="fas fa-angle-left pr-3 text-light"></i>
        <% end %>
      </h2>
    <h2 class="page-head"><%= @training.title %></h2>
  </div>

  <img src="app/assets/images/question-mark.jpeg" alt="" height="150px" width="100%" class="image-placeholder">

  <div class="container h-100">
        <div class="card-long">
          <div class="card-body">
            <ol>
              <% @training.shared_exercises.each do |exercise| %>
                <li>
                  <span><%= link_to exercise.title, booking_shared_training_plan_shared_exercise_path(@booking, @stp, exercise)  %></span>
                  <% if @booking.user == current_user %>
                    <span style="font-size: 10px">
                      <%= link_to 'X', booking_shared_training_plan_shared_exercise_path(@booking, @stp, exercise), method: :delete,
                                                                                         remote: true,
                                                                                         class: 'text-danger' %>
                    </span>
                  <% end %>
                  <div class="exercise-info text-black-50" style="font-size: .7rem">
                    <span>
                      <%= exercise.sets %> sets / <%= exercise.repetitions %> reps

                    </span>
                  </div>
                </li>
              <% end %>
            </ol>
              <% if @booking.user == current_user && !@available_exercises.empty? %>
                <p class='my-1'>Quick add</p>
                <ul>
                  <% @available_exercises.each do |exercise| %>
                    <li>
                      <%= simple_form_for [@booking, @shared_training_plan], remote: true do |f| %>
                        <%= link_to exercise.title %>
                        <%= f.hidden_field :id, value: @stp.id  %>
                        <%= f.hidden_field :training, value: @training.id  %>
                        <%= f.hidden_field :shared_exercise, value: exercise.id  %>
                        <%= f.submit '+', class: 'text-primary px-2'%>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h2>Sorry, seems like you don't belong here :)</h2>
  <% end %>
</div>
